In [291]:
import importlib
import subprocess

import Advanced_SQL as asql
import duckdb
import SQL as sql

_ = importlib.reload(asql)
_ = importlib.reload(sql)

Use this cell to test any sql queries. This can be done in one of the following ways:

1. Fill in the `qry` within the """ """.
2. Call the question functions that you have already filled in from the SQL.py and Advanced_SQL.py files. An example of question_1 being called from the SQL.py file is currently commented out.

This cell can be copied if you wish to run multiple queries.

In [292]:
qry = """  

"""

qry = asql.question_7()


with duckdb.connect("database/loan.db") as cursor:
    result_set = cursor.execute(qry).df()

result_set

     CustomerID  Age  CorrectedAge  Gender  AgeCategory  Rank
0             1   24            52  Female        Adult     8
1             2   34            71  Female    Pensioner     8
2             3   48            24  Female  Young Adult     3
3             4   34            34  Female        Adult     8
4             5   67            48  Female        Adult    10
..          ...  ...           ...     ...          ...   ...
995         996   39            77  Female    Pensioner     8
996         997   65            41  Female        Adult    11
997         998   52            39  Female        Adult    10
998         999   71            65  Female    Pensioner     9
999        1000   51            44    Male        Adult     6

[1000 rows x 6 columns]

Should you break/incorrectly update any database tables, the database can be reset by running the following cell

In [275]:
load_script_path = "database/database_load.py"
subprocess.run(["python3", load_script_path])

CompletedProcess(args=['python3', 'database/database_load.py'], returncode=0)