In [148]:
import importlib
import subprocess

import Advanced_SQL as asql
import duckdb
import SQL as sql

_ = importlib.reload(asql)
_ = importlib.reload(sql)

Use this cell to test any sql queries. This can be done in one of the following ways:

1. Fill in the `qry` within the """ """.
2. Call the question functions that you have already filled in from the SQL.py and Advanced_SQL.py files. An example of question_1 being called from the SQL.py file is currently commented out.

This cell can be copied if you wish to run multiple queries.

In [156]:
qry = """  
    CREATE TABLE timeline AS
    SELECT
        c.CustomerID,
        m.MonthName,
        COALESCE(COUNT(r.RepaymentID), 0) AS NumberOfRepayments,
        COALESCE(SUM(r.Amount), 0) AS AmountTotal
    FROM customers c
    CROSS JOIN months m
    LEFT JOIN repayments r ON r.CustomerID = c.CustomerID
        AND MONTH(CONVERT_TZ(r.RepaymentTimestamp, 'UTC', 'Europe/London')) = m.MonthNumber
        AND HOUR(CONVERT_TZ(r.RepaymentTimestamp, 'UTC', 'Europe/London')) BETWEEN 6 AND 17
    GROUP BY c.CustomerID, m.MonthName, m.MonthNumber
    ORDER BY c.CustomerID, m.MonthNumber;
"""

#qry = asql.question_3()


with duckdb.connect("database/loan.db") as cursor:
    result_set = cursor.execute(qry).df()

result_set

CatalogException: Catalog Error: Scalar Function with name convert_tz does not exist!
Did you mean "count"?
LINE 11:         AND MONTH(CONVERT_TZ(r.RepaymentTimestamp, 'UTC', 'Europe/London')) = m.MonthNumber
        AND HOUR(CONVERT_TZ(r.RepaymentTimestamp, 'UTC', 'Europe/London')) BETWEEN 6 AND 17
    GROUP BY c.CustomerID, m.MonthName, m.MonthNumber
    ORDER BY c.CustomerID, m.MonthNumber;
...
                           ^

Should you break/incorrectly update any database tables, the database can be reset by running the following cell

In [154]:
load_script_path = "database/database_load.py"
subprocess.run(["python3", load_script_path])

CompletedProcess(args=['python3', 'database/database_load.py'], returncode=0)