In [111]:
import importlib
import subprocess

import Advanced_SQL as asql
import duckdb
import SQL as sql

_ = importlib.reload(asql)
_ = importlib.reload(sql)

Use this cell to test any sql queries. This can be done in one of the following ways:

1. Fill in the `qry` within the """ """.
2. Call the question functions that you have already filled in from the SQL.py and Advanced_SQL.py files. An example of question_1 being called from the SQL.py file is currently commented out.

This cell can be copied if you wish to run multiple queries.

In [113]:
qry = """  
SELECT DISTINCT CustomerID
FROM loans
WHERE ApprovalStatus = 'Rejected'
"""

#qry = asql.question_2()


with duckdb.connect("database/loan.db") as cursor:
    result_set = cursor.execute(qry).df()

result_set

     CustomerID
0             1
1            17
2            23
3            33
4            82
..          ...
513         964
514         975
515         976
516         977
517         995

[518 rows x 1 columns]

Should you break/incorrectly update any database tables, the database can be reset by running the following cell

In [84]:
load_script_path = "database/database_load.py"
subprocess.run(["python3", load_script_path])

CompletedProcess(args=['python3', 'database/database_load.py'], returncode=0)