In [227]:
import importlib
import subprocess

import Advanced_SQL as asql
import duckdb
import SQL as sql

_ = importlib.reload(asql)
_ = importlib.reload(sql)

Use this cell to test any sql queries. This can be done in one of the following ways:

1. Fill in the `qry` within the """ """.
2. Call the question functions that you have already filled in from the SQL.py and Advanced_SQL.py files. An example of question_1 being called from the SQL.py file is currently commented out.

This cell can be copied if you wish to run multiple queries.

In [230]:
qry = """  

"""

qry = asql.question_()


with duckdb.connect("database/loan.db") as cursor:
    result_set = cursor.execute(qry).df()

result_set

       CustomerID  MonthName  NumberOfRepayments  AmountTotal
0               1    January                   0          0.0
1               1   February                   0          0.0
2               1      March                   0          0.0
3               1      April                   1        479.0
4               1        May                   0          0.0
...           ...        ...                 ...          ...
11995        1000     August                   0          0.0
11996        1000  September                   0          0.0
11997        1000    October                   0          0.0
11998        1000   November                   0          0.0
11999        1000   December                   0          0.0

[12000 rows x 4 columns]

Should you break/incorrectly update any database tables, the database can be reset by running the following cell

In [225]:
load_script_path = "database/database_load.py"
subprocess.run(["python3", load_script_path])

CompletedProcess(args=['python3', 'database/database_load.py'], returncode=0)